
<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-login" for="log-login-show">Register</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>LOGIN</h2>
                <input type="text" formControlName="email" placeholder="Email" pInputText /> 
				<input #password type="password" formControlName="password" placeholder="Şifre" pInputText />
				<div class="input-group-addon">
                </div>
                <button pButton type="submit" label="Giriş" [disabled]="!loginForm.valid"></button>
                <!-- <input type="button" value="Login"> -->
			</div> 
		</div>
	</div>

 